<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dey9mpa39/image/upload/v1671042640/espace%20glisse/level_1_surf_kbnk6v.jpg);">
  <div class="container ">
    <h1>Réserve un cours de <span style="color:#3065ED;">surf / kitesurf / skate / snowboard </span> en 2 clics !</h1>
    <a class="btn btn-flat" href="#">Réserver</a>
  </div>
</div>

<div class="scrowl-white">
  <div class="container">
    <div class="d-flex align-items-center justify-content-around scrowl-div">
      <div class="card card-small">
        <%= link_to "#", class:"card-img-top", alt:"école" do %>
          <%= image_tag "https://res.cloudinary.com/dey9mpa39/image/upload/v1671116045/espace%20glisse/e%CC%81cole_humhre.png", class:"rounded-circle img-activity" %>
        <% end %>
        <div class="card-body">
          <p class="card-text">Trouve les <span> meillieures écoles</span> de glisse d'Aquitaine et de Pyrénées</p>
        </div>
      </div>
      <div class="card card-small">
        <%= link_to "#", class:"card-img-top", alt:"cours" do %>
          <%= image_tag "https://res.cloudinary.com/dey9mpa39/image/upload/v1671124208/espace%20glisse/cours_ltneq4.png", class:"rounded-circle img-activity" %>
        <% end %>
        <div class="card-body">
          <p class="card-text">Réserve <span>un cours avec un prof</span> au moment et à l'endroit que tu préfères</p>
        </div>
      </div>
      <div class="card card-small">
        <%= link_to "#", class:"card-img-top", alt:"spot" do %>
          <%= image_tag "https://res.cloudinary.com/dey9mpa39/image/upload/v1671116381/espace%20glisse/spot_v4g97l.png", class:"rounded-circle img-activity" %>
        <% end %>
         <div class="card-body">
          <p class="card-text">Découvre <span>les plus beaux spots</span> et partage les avec la communauté</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="scrowl-grey">
</div>

<div class="scrowl-white">
</div>

<div class="scrowl-grey">
</div>
