<div class="container py-5">
  <div class="row">
    <div class="card col-12 col-md-6 offset-lg-3">
      <h2 class="text-center my-4 title">Mot de passe oublié ?</h2>

      <div class="card-show p-3">

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.error_notification %>

          <div class="form-inputs">
          <p class="mb-5 text-center">Je veux qu'on m'envoie les instructions de réintialisation par mail</p>
            <%= f.input :email,
                        label: "Email",
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
          <div class="form-actions text-center">
            <%= f.button :submit, "Valider", class: "btn-flat my-4" %>
          </div>
        <% end %>
        <div class="text-center">
            <%= render "devise/shared/links"%>
        </div>
      </div>
    </div>
  </div>
</div>
