<div class="navbar navbar-expand-sm navbar-light navbar-espace-glisse px-4 py-3">
  <div class="container-fluid">
    <%= link_to "main/index", class: "navbar-brand px-4" do %>
      <%= image_tag "https://res.cloudinary.com/dey9mpa39/image/upload/v1671033389/espace%20glisse/logo_yyrq5q.png", class: "rounded-3" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item px-5 active">
            <%= link_to "notre vocation", "#", class: "nav-link" %>
          </li>
          <li class="nav-item px-5">
            <%= link_to "écoles", "#", class: "nav-link" %>
          </li>
          <li class="nav-item px-5">
            <%= link_to "cours", "#", class: "nav-link" %>
          </li>
         <li class="nav-item px-5">
            <%= link_to "spots", "#", class: "nav-link" %>
          </li>
          <li class="nav-item px-4 dropdown">
            <%= image_tag "https://res.cloudinary.com/dey9mpa39/image/upload/v1671041700/espace%20glisse/Photo_profil_Georges_Ryssen_GR_2020_zz_rnhfwg.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item px-5">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
