<div class="container">
  <h1 class="mt-4">Liste des écoles</h1>
  <% @schools.each do |school| %>
    <div class="card mt-4 p-3">
      <h3 class="mb-4"><%= school.name %></h3>
      <p><b>Téléphone : </b><%= school.phone %></p>
      <p><b>Adresse : </b><%= school.address %></p>
      <p><b>Présentation : </b><%= school.description %></p>
      <p><b>Ouverture : </b><%= school.opening %></p>
      <p><b>Site internet : </b><a href="<%= school.website %>" target="_blank"><%= school.website %></a>
      <p><b>Notations : </b><%= school.rating %></p>
    </div>
  <% end %>
</div>
